<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title tridoc cockpit
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700")
    link(rel='stylesheet', href='style.css')
    //script(src='https://mozilla.github.io/pdf.js/build/pdf.js')
    
  body.grid
    header
      span tridoc cockpit

    main#main.s__id.s__title
      .box.title.sticky-top
        h1#current-title.inline
        button#edit-title.mi.inline
          svg(viewBox='0 0 24 24')
            path(d='M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z')
        button#cancel-edit-title.mi.inline.hidden
          svg(viewBox='0 0 24 24')
            path(d='M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12C4,13.85 4.63,15.55 5.68,16.91L16.91,5.68C15.55,4.63 13.85,4 12,4M12,20A8,8 0 0,0 20,12C20,10.15 19.37,8.45 18.32,7.09L7.09,18.32C8.45,19.37 10.15,20 12,20Z')
        
        #current-tags-container.input
          #current-tags.s__th
          input(type="text",placeholder="Add Tags to document")#current-tags-input

      .main-grid
        #document-wrapper
          #document
            #pdf-text-layer
        .comments
          .box.box-flexible
            h3 Search syntax:
            h4 abc
            p Matches documents where 'abc' can be found in text or title
            h4 #abc
            p Matches documents with tag 'abc'
            h4 ##abc
            p Matches documents with tag '#abc'
            h4 !#abc
            p Matches documents without tag 'abc'
            h4 \#abc
            p Matches where '#abc' can be found in text or title

    #tag-sidebar.sidebar.tags
      .sidebar-top
        button#collapse-tags.sidebar-button.sidebar-button-rotate
          .sidebar-button-icon
            svg(viewBox="0 0 24 24")
              path(d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z")
          span.sidebar-button-text Collapse
        button#reset-filters.sidebar-button
          .sidebar-button-icon
            svg(viewBox="0 0 24 24")
              path(d="M17.65,6.35C16.2,4.9 14.21,4 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20C15.73,20 18.84,17.45 19.73,14H17.65C16.83,16.33 14.61,18 12,18A6,6 0 0,1 6,12A6,6 0 0,1 12,6C13.66,6 15.14,6.69 16.22,7.78L13,11H20V4L17.65,6.35Z")
          span.sidebar-button-text Reset Filters
      ul#tag-list.list
        .loader
      .sidebar-bottom
        button#settings.sidebar-button
          .sidebar-button-icon
            svg(viewBox="0 0 24 24")
              path(d="M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z")
          span.sidebar-button-text Settings

    #settings-popup.popup.hidden
      h1 Settings
      .settings-columns
        #settings-backend
          h2 Backend
          p URL
          input(placeholder='url',type='text')#server-url.input
          p Username
          input(placeholder='username',type='text')#server-username.input
          p Password
          input(placeholder='password',type='password')#server-password.input
        .vertical-spacer
        #settings-general
          h2 General
          p Number of results displayed
            br
            small -1 for no limit
          input(placeholder='limit',type='text')#result-limit.input
      #settings-footer
        button#server-save.sidebar-button
          .sidebar-button-icon
            svg(viewBox="0 0 24 24")
              path(d="M15,9H5V5H15M12,19A3,3 0 0,1 9,16A3,3 0 0,1 12,13A3,3 0 0,1 15,16A3,3 0 0,1 12,19M17,3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V7L17,3Z")
          span.sidebar-button-text Save
        .vertical-spacer.invisible
        button#settings-close.sidebar-button
          .sidebar-button-icon
            svg(viewBox="0 0 24 24")
              path(d="M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12C4,13.85 4.63,15.55 5.68,16.91L16.91,5.68C15.55,4.63 13.85,4 12,4M12,20A8,8 0 0,0 20,12C20,10.15 19.37,8.45 18.32,7.09L7.09,18.32C8.45,19.37 10.15,20 12,20Z")
          span.sidebar-button-text Cancel


    .sidebar.documents
      .sidebar-top
        input(placeholder='Search in documents',type='text')#search-documents.input
      #document-list.list
        .loader

    .footer

    script(src='index.js')