<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title tridoc cockpit
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700")
    link(rel='stylesheet', href='style.css')
    //script(src='https://mozilla.github.io/pdf.js/build/pdf.js')
    
  body.grid
    header
      span tridoc cockpit

    main#main.s__id.s__title
      .box.title
        h1#current-title.inline
        button#edit-title.mi.inline
          svg(viewBox='0 0 24 24')
            path(d='M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z')
        button#cancel-edit-title.mi.inline.hidden
          svg(viewBox='0 0 24 24')
            path(d='M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12C4,13.85 4.63,15.55 5.68,16.91L16.91,5.68C15.55,4.63 13.85,4 12,4M12,20A8,8 0 0,0 20,12C20,10.15 19.37,8.45 18.32,7.09L7.09,18.32C8.45,19.37 10.15,20 12,20Z')
        #current-tags-container.inline
          #current-tags.s__th
          input(type="text" autofocus)#current-tags-input.inline
      .main-grid
        #document
          #pdf-text-layer
        .comments
          .box.box-flexible
            input(placeholder='url',type='text')#server-url.input
            input(placeholder='username',type='text')#server-username.input
            input(placeholder='password',type='password')#server-password.input
            button#server-save save
          .box.box-flexible
            h3 Search syntax:
            h4 abc
            p Matches documents where 'abc' can be found in text or title
            h4 #abc
            p Matches documents with tag 'abc'
            h4 ##abc
            p Matches documents with tag '#abc'
            h4 !#abc
            p Matches documents without tag 'abc'
            h4 \#abc
            p Matches where '#abc' can be found in text or title

    #tag-sidebar.sidebar.tags
      button#collapse-tags.sidebar-button
        .sidebar-button-icon
          svg(viewBox="0 0 24 24")
            path(d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z")
        span.sidebar-button-text Collapse
      button#reset-filters.sidebar-button
        .sidebar-button-icon
          svg(viewBox="0 0 24 24")
            path(d="M16,15H9V13H16V15M19,11H9V9H19V11M19,7H9V5H19V7M3,5V21H19V23H3A2,2 0 0,1 1,21V5H3M21,1A2,2 0 0,1 23,3V17C23,18.11 22.11,19 21,19H7A2,2 0 0,1 5,17V3C5,1.89 5.89,1 7,1H21M7,3V17H21V3H7Z")
        span.sidebar-button-text Reset Filters
      ul#tag-list.list
        .loader

    .documents
      .box
        input(placeholder='Search in documents',type='text')#search-documents.input.searchbox
      #document-list.list
        .loader

    .footer

    script(src='index.js')