<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title tridoc cockpit
    link(rel="stylesheet", href="style.css")
    script(src="https://mozilla.github.io/pdf.js/build/pdf.js")
    
  body.grid
    .header
      span tridoc cockpit

    .tags
      .box
        input(disabled,placeholder="Search for tags",type="text")#search-tags.input.searchbox
      .box.box-flexible
        input(placeholder="url",type="text")#server-url.input
        input(placeholder="username",type="text")#server-username.input
        input(placeholder="password",type="password")#server-password.input
        button#server-save save
      .box#tag-list
        i ...

    .documents
      .box
        input(placeholder="Search in documents",type="text")#search-document.input.searchbox
      ul#document-list.list

    .main
      .box.title
        h1#current-title ...
      #document
        canvas#pdf-canvas
        #pdf-text-layer
      .comments
        .box.box-flexible Comments not yet supported by Backend

    .footer

    script(src="index.js")