<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title tridoc cockpit
    link(rel="stylesheet", href="style.css")
  body.grid
    .header
      span tridoc cockpit

    .tags
      .box
        input#search-tags(disabled,placeholder="Search for tags",type="text").input.searchbox
      .box.box-flexible
        input#server-url(placeholder="url",type="text").input
        input#server-username(placeholder="username",type="text").input
        input#server-password(placeholder="password",type="password").input
        button#server-save save
      .box#tag-list
        i ...

    .documents
      .box
        input#search-document(placeholder="Search in documents",type="text").input.searchbox
      ul.list#document-list

    .main

    .footer

    script(src="index.js")