<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title tridoc cockpit
    link(rel="stylesheet", href="style.css")
    script(src="index.js")
  body
    p foo2