// COLORS

//$green-l: #5df2d6;
$green-l: #e1fff9;
$green-m: #00bfa5;
$green-d: #008e76;

$blue-l: #82f7ff;
$blue-m: #40c4ff;
$blue-d: #0094cc;

$orange-l: #ff9e40;
$orange-m: #ff6d00;
$orange-d: #c43c00;

$gray-l: #ECEFF1;
$gray-m: #B0BEC5;
$gray-d: #607D8B;

$tag-l: $gray-l;
$tag-m: $gray-m;
$tag-d: $gray-d;

$border-l: 1px solid $gray-l;
$border-m: 1px solid $green-m;
$border-d: 1px solid $green-d;

//Sizes

$_s: 700px;
$_xs: 450px;

$padding: 12px;

$header-h: 42px;
$footer-h: 42px;
$box-h: 42px;
$box-b-h: 84px;

$side-spacing: 5px;
$side-p: $side-spacing $side-spacing 0;
$side-btn-p: 8px;
$side-btn-size: 48px;
$side-btn-icon-size: 24px;
$side-btn-icon-margin: calc((#{$side-btn-size} - (#{$side-btn-icon-size} + 2px + (2*#{$side-btn-p})))/2);
$side-btn-icon-color: $green-d;

$tag-h: 18px;
$tag-p: 2px;
$tag-pp: 5px;

$input-p: 12px;

$title-h: fit-content;

$list-w: 200px;
$list-w_s: 150px;
$list-w_xs: 90px;