// COLORS

$green-l: #5df2d6;
$green-m: #00bfa5;
$green-d: #008e76;

$blue-l: #82f7ff;
$blue-m: #40c4ff;
$blue-d: #0094cc;

$orange-l: #ff9e40;
$orange-m: #ff6d00;
$orange-d: #c43c00;

$border-l: 1px solid $green-l;
$border-m: 1px solid $green-m;
$border-d: 1px solid $green-d;

$gray-l: #ECEFF1;
$gray-m: #B0BEC5;
$gray-d: #607D8B;

$tag-l: $gray-l;
$tag-m: $gray-m;
$tag-d: $gray-d;

//Sizes

$_s: 700px;
$_xs: 450px;

$padding: 12px;

$header-h: 42px;
$footer-h: 42px;
$box-h: 42px;
$box-b-h: 84px;

$tag-h: 18px;
$tag-p: 2px;

$title-h: fit-content;

$list-w: 200px;
$list-w_s: 150px;
$list-w_xs: 90px;