@import "variables";
@import "common";

.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: $list-w $list-w 100fr;
    grid-template-rows: $header-h 100fr $footer-h;
    grid-template-areas:
        "header header header"
        "tags documents main"
        "footer footer footer";
}

.header {
    padding: $padding;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-h;
    border-bottom: $border-m;
}

.main {
    grid-area: main;
    display: grid;
    height: 100%;
    grid-template-columns: 100fr $list-w;
    grid-template-rows: $title-h auto;
    grid-template-areas:
        "header header"
        "document comments";

    .title {
        grid-area: header;
        height: $title-h;
    }

    .comments {
        border-left: $border-m;
    }

    #document {
        grid-area: document;
        position: relative;
        height: calc(100vh - (#{$header-h} + #{$title-h} + #{$footer-h}));
        overflow-x: scroll;
    }

    #pdf-text-layer {
        position: absolute;
        top: 0;
        left: 0;
    }

}

.tags {
    grid-area: tags;
}

.documents {
    grid-area: documents;
}

.tags,
.documents {
    border-right: $border-m;

    .list {
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100vh - 126px);
    }
}

.footer {
    height: $footer-h;
    grid-area: footer;
    border-top: $border-m;
}

.box {
    //display: flex;
    //align-items: center;
    height: $box-h;
    min-height: $box-h;
    width: 100%;
    padding: $padding;
    border-bottom: $border-m;

    &-flexible {
        height: unset;
    }
}

.list {
    list-style: none;

    &-item {
        height: $box-h;
        min-height: $box-h;
        width: 100%;
        padding: $padding;
        border-bottom: $border-l;

        &-flexible {
            height: unset;
        }
    }
}

.input {
    border: 1px solid $green-d;
    width: 100%;
    background-color: $green-l;
    border-radius: 0;
}